            body {
                background :  #FFE4E1 ;
            }

            h1 {
                text-align : center;
            }
            h2 {
                text-align : center;
            }
