                                            
            body {
              background-image: url("https://raw.githubusercontent.com/estudantenatally/pensamentoComputacional1a/main/fundo.png");
              background-size: cover;
            }

            h1 {
                text-align : center;
              
            }
            h2 {
                text-align : center;
            }
