                                            
            body {
                background:  #FFE4E1;
              background-image: url("fundo.png");
              background-size: cover;
            }

            h1 {
                text-align : center;
              
            }
            h2 {
                text-align : center;
            }
